<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    coreApp="true"
    package="com.readboy.wetalk"
    android:sharedUserId="com.android.systemui"
    android:versionCode="190824005"
    android:versionName="2.1.8">

    <!-- <uses-feature android:name="android.hardware.type.watch" /> -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application
        android:name=".WeTalkApplication"
        android:allowBackup="true"
        android:icon="@drawable/wetalk_icon"
        android:label="@string/app_name"
        android:theme="@style/SwipeToDismissTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.readboy.utils.GlideConfiguration"
            android:value="GlideModule" />

        <provider
            android:name="com.readboy.provider.ConversationProvider"
            android:authorities="com.readboy.wetalk.provider.Conversation"
            android:exported="true" />

        <receiver android:name="com.readboy.receiver.MessageReceiver">
            <intent-filter>
                <action android:name="readboy.action.NOTIFY_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="readboy.action.NOTIFY_FRIEND_ADD" />
            </intent-filter>
            <intent-filter>
                <action android:name="readboy.action.NOTIFY_FRIEND_REFUSE" />
            </intent-filter>
            <intent-filter>
                <action android:name="readboy.action.NOTIFY_FRIEND_REQUEST" />
            </intent-filter>
            <intent-filter>
                <action android:name="readboy.action.UPDATE_NOTIFICATION" />
            </intent-filter>

        </receiver>

        <activity
            android:name=".FriendFragmentActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="readboy.intent.action.wetalk" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.readboy.WATCH.FLAG" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FriendActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DisplayImageActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GetImageActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmojiActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConversationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseFriendActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <service android:name=".UpdateContactPhotoService" />

        <service
            android:name="com.readboy.service.MessageService"/>
            <!--android:process="com.android.systemui" />-->

        <activity android:name="com.readboy.activity.GifActivity" />
        <activity
            android:name="com.readboy.activity.RequestFriendActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.readboy.activity.FriendSelectorActivity" />
        <activity android:name="com.readboy.activity.VideoActivity" />
    </application>

</manifest>