<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.readboy.wetalk"
    android:versionCode="171230001"
    android:versionName="1.1.9">

    <uses-sdk
        android:minSdkVersion="20"
        android:targetSdkVersion="23" />

    <!--<uses-feature android:name="android.hardware.type.watch" />-->

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />

    <application
        android:name=".WeTalkApplication"
        android:allowBackup="true"
        android:icon="@drawable/wetalk_icon"
        android:label="@string/app_name"
        android:theme="@style/SwipeToDismissTheme"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.readboy.utils.GlideConfiguration"
            android:value="GlideModule" />
        <provider
            android:name="com.readboy.provider.ConversationProvider"
            android:authorities="com.readboy.wetalk.provider.Conversation"
            android:exported="true" />
        <receiver android:name="com.readboy.receiver.MessageReceiver">
            <intent-filter>
                <action android:name="readboy.action.NOTIFY_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.readboy.action.SENDPICTURE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".FirstStartActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.readboy.WATCH.FLAG" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FriendActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DisplayImageActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GetImageActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmojiActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConversationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseFriendActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <service android:name=".UpdateContactPhotoService" />
    </application>

</manifest>
